* {
    box-sizing: border-box;
}
:root {
    --blue: #00A9E0;
    --blue-opacity: #00a8e026;
    --gold: #F6B511;
    --gold-opacity: #f6b51126;
    --score-pos: -314px;
    --player-pos-x: 18px;
    --player-pos-y: 237px;
}
.prediction-chart-box,
.hivemind-logo,
.player-names .title,
.status-icons-container,
.time-divider,
.kill-feed {
    display: none !important;
}
body {
    height: 1080px;
    position: relative;
    font-family: "Inter", sans-serif;
}
#clock-time {
    position: absolute;
    top: 18px;
    left: 18px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
.bottom-info-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    z-index: 0;
    font-family: inherit;
}
.bottom-bar {
    position: static;
    width: auto;
    height: auto;
    background: none;
}
.team-name-container {
    position: absolute;
    top: auto;
    left: 18px;
    bottom: 18px;
    width: 550px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 6px solid var(--blue);
}
.team-name-container + .team-name-container {
    left: auto;
    right: 18px;
    border-color: var(--gold);
}
.team-name {
    flex-grow: 0;
    flex-basis: auto;
    background-color: var(--blue-opacity);
    border: none;
    color: var(--blue);
    font-family: "Inter", sans-serif;
}
.team-name-container + .team-name-container .team-name {
    color: var(--gold);
    background-color: var(--gold-opacity);
}
.score {
    position: absolute;
    right: var(--score-pos);
    border: 6px solid var(--blue);
    background: none;
    top: 50%;
    top: calc(50% - 70px);
    color: var(--blue);
    background-color: #000;
    font-size: 50px;
    font-family: inherit;
}
.team-name-container + .team-name-container .score {
    right: auto;
    left: var(--score-pos);
    color: var(--gold);
    border-color: var(--gold);
}
.sidebar {
    position: static;
    background: none;
    width: auto;
    height: auto;
}
.sidebar-right .info-box {
    position:  absolute;
    top: auto;
    bottom: 92px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 6px solid #fff;
    width: 180px;
    padding: 6px 0;
    z-index: 5;
    flex-direction: column-reverse;
}
.player-names,
.player-stats {
    top: auto;
    left: var(--player-pos-x);
    bottom: var(--player-pos-y);
    z-index: 2;
}
.sidebar-right .player-names,
.sidebar-right .player-stats {
    left: auto;
    right: var(--player-pos-x);
    border-color: var(--gold);
}
.bottom-info-box > span {
    font-family: inherit;
}
.bottom-info-box > span:first-child {
    position: absolute;
    top: 18px;
    right: 18px;
    max-width: 200px;
    text-align: center;
}
.player-stats {
    width: 200px;
    height: 180px;
    border: 4px solid var(--blue);
    background-color: var(--blue-opacity);
}
.sidebar-right .player-stats {
    background-color: var(--gold-opacity);
}
.player-names, 
.player-stats {
    font-size: 18px !important;
    line-height: 32px !important;
    text-shadow: 2px 2px 0 #000000b5;
}
.player-names .position {
    margin: 0;
    margin-bottom: 3px;
    margin-left: 4px;
}
.sidebar-right .player-names .position {
    margin-left: 0;
    margin-right: 4px;
}
.player-names .position .name {
    font-size: 14px !important;
    line-height: 32px !important;
    font-family: inherit;
}
.kd {
    font-size: 14px;
    font-family: inherit;
}
.player-stats .position {
    border-bottom: 3px solid var(--blue);
    margin: 0;
    padding: 0 4px;
}
.sidebar-right .player-stats .position {
    border-color: var(--gold);
}
.player-stats .position:last-child {
    border-bottom: none;
}
.player-stats .position > img {
    width: 1em;
    height: 1em;
    margin: 0;
    opacity: 0 !important;
}
.player-names .position img.icon {
    opacity: 0 !important;
}
.game-time, 
.berries-remaining {
    justify-content: center;
    margin: 4px 0;
}
.game-time svg,
.berries-remaining svg {
    margin-left: 0;
    opacity: 0;
}
.sidebar-right .info-box::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    right: 14px;
    height: 3px;
    background-color: #fff;
}
.player-names {
    z-index: 5;
}