#postGameOverlay {
    --blue: #00A9E0;
    --gold: #F6B511;
    --primary-text: #fff;
    --green: #44A484;
    --green-dark: #04724D;
    --purple: #8272A5;
    --purple-dark: #57467B;
    --red: #F48B91;
    --red-dark: #E5585F;
    --primary: #000;
    --primary-dark: #000;
    font-family: "Inter", sans-serif;
    background: var(--primary);
}
#postGameOverlay .container {
    padding: 40px 100px;
    max-width: 1920px;
    display: block;
    width: 1920px;
    height: 1080px;
    position: relative;
    font-family: "Inter", sans-serif;
}
#postGameOverlay .charts.box {
    display: none;
}
#postGameOverlay .container > .right-side.justify-start {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 100%;
}
#postGameOverlay .game-summary,
#postGameOverlay .awards {
    flex-basis: 100%;
    height: auto;
    background: none;
    border: none;
    box-shadow: unset;
}
#postGameOverlay .win-description {
    text-shadow: none;
    padding-bottom: 13px;
    font-family: "Inter", sans-serif;
    text-transform: unset;
    letter-spacing: unset !important;
    margin-top: 0;
    border-bottom: 6px solid #fff;
    font-style: italic;
    font-size: 80px !important;
    font-weight: 700;
}
#postGameOverlay .awards {
    order: 10;
    display: flex;
    margin-top: auto;
    align-items: stretch;
    justify-content: center;
    margin-top: 80px !important;
}
#postGameOverlay .awards > div {
    display: block;
    opacity: 1;
    position: static;
    display: grid;
    grid-template-rows: 1fr auto;
    width: auto;
    margin: 0 5px;
    flex: 0 1 200px;
}
#postGameOverlay .awards .icon-holder,
#postGameOverlay .awards .icon-holder img {
    display: block;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
#postGameOverlay .awards .icon-holder {
    display: flex;
    justify-content: center;
}
#postGameOverlay .top-players {
    border-radius: 0px;
    color: var(--primary-text);
    background: transparent;
    box-shadow: none;
    display: block !important;
}
#postGameOverlay .team-stats {
    padding-left: 110px;
    padding-top: 76px;
    max-width: 727px;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 30px 25px;
    border: none;
}
#postGameOverlay .blue, 
#postGameOverlay .gold {
    border: none;
    background: none;
    box-shadow: none;
}
#postGameOverlay .blue {
    color: var(--blue);
}
#postGameOverlay .gold {
    color: var(--gold);
}
#postGameOverlay .game-info {
    justify-content: center !important;
    color: var(--primary-text);
    font-size: 32px;
}
#postGameOverlay .game-info-entry::after {
    content: '|';
    margin-left: .5em;
    margin-right: .5em;
}
#postGameOverlay .game-info-entry:last-child::after {
    display: none;
}
#postGameOverlay .team-stats .value.blue {
    order: -1;
    text-align: left;
}
#postGameOverlay .team-stats .label,
#postGameOverlay .awards > div > div:first-child {
    text-align: center;
    padding: 0;
    color: var(--primary-text);
    font-size: 32px;
    margin: 0 auto;
    max-width: 212px;
}
#postGameOverlay .team-stats .label {
    display: none;
}
#postGameOverlay .awards > div > div:first-child {
    font-size: 28px;
    width: 100%;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 5px;
    grid-row: 2/3;
    grid-column: 1/-1;
}
#postGameOverlay .game-summary {
    color: var(--blue);
}
#postGameOverlay .game-summary.jss5 {
    color: var(--gold);
}
#postGameOverlay .game-summary {
    display: block;
    flex-basis: auto;
    width: 100%;
}
#postGameOverlay .game-summary > img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}
#postGameOverlay .team-stats .row {
    max-width: 294px;
    margin: 0;
    border: 4px solid #fff;
    padding: 18px;
    font-size: 40px;
    background: var(--primary-dark);
}
#postGameOverlay .team-stats .value {
    padding: 0;
    margin: 0;
    font-size: 60px;
    flex-basis: auto;
    flex-shrink: 1;
}
#postGameOverlay .top-players {
    margin-left: 92px;
    max-width: 772px;
    margin-right: 92px;
    margin-top: 76px;
    display: block !important;
    border: 6px solid #fff;
    padding: 18px;
    background: var(--primary-dark);
}
#postGameOverlay .top-players > div {
    line-height: 1;
    font-size: 32px;
    margin-bottom: 10px;
}
#postGameOverlay .top-players > div:last-child {
    margin-bottom: 0;
}
#postGameOverlay .top-players .icon-holder {
    width: auto;
    height: auto;
    margin-left: 10px;
}
#postGameOverlay .top-players .icon-holder img {
    height: 40px;
}
#postGameOverlay .top-players > div > div {
    margin: 0;
    padding: 0;
}
#postGameOverlay .team-stats .row:nth-child(3) {
    grid-column: 2/3;
}
#postGameOverlay .team-stats .row:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
}
#postGameOverlay .team-stats .row:nth-child(4) .value {
    font-size: 30px;
    margin-top: 20px;
}
#postGameOverlay .awards .icon-holder + .icon-holder {
    margin-left: -40px;
}