:root {
    --primary: #DF00D6;
    --primary-text: #FB88F6;
    --blue-text: #0085FF;
    --gold-text: #F7DD64;
}
body {
    position: relative;
    font-family: 'Jura', sans-serif;
    text-shadow: unset;
}
#postGameOverlay, 
#postGameOverlay .container {
    background-color: #000;
}
#postGameOverlay .container {
    /* color 4: */
    background-image: url(https://i.imgur.com/6U19TH0.png);
    /* color 3: */
    background-image: url(https://i.imgur.com/49WiYaG.png);
    /* color 2: */
    background-image: url(https://i.imgur.com/6jXgtlu.png);
    /* color 1: */
    background-image: url(https://i.imgur.com/5MQot84.png);
    background-repeat: no-repeat;
}
#postGameOverlay .container {
    font-family: 'Jura', sans-serif;
    text-shadow: unset;
    padding: 40px 100px;
    max-width: 1920px;
    display: block;
    width: 1920px;
    height: 1080px;
}
#postGameOverlay .charts.box {
    display: none;
}
#postGameOverlay .container > .right-side.justify-start {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 100%;
}
#postGameOverlay .game-summary,
#postGameOverlay .awards {
    flex-basis: 100%;
    height: auto;
    background: none;
    border: none;
    box-shadow: unset;
}
#postGameOverlay .win-description {
    text-shadow: none;
    padding-bottom: 20px;
    font-family: 'Jura', sans-serif;
    text-transform: unset;
    letter-spacing: unset !important;
    margin-top: 12px;
}
#postGameOverlay .awards {
    order: 10;
    display: flex;
    margin-top: auto;
    align-items: stretch;
    justify-content: center;
    margin-top: 80px !important;
}
#postGameOverlay .awards > div {
    display: block;
    opacity: 1;
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: auto;
    margin: 0 5px;
    flex: 0 1 200px;
}
#postGameOverlay .awards .icon-holder,
#postGameOverlay .awards .icon-holder img {
    display: block;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
#postGameOverlay .team-stats,
#postGameOverlay .top-players {
    border: none;
    border-radius: 0px;
    color: var(--primary-text);
    background: transparent;
    box-shadow: none;
    display: block !important;
}
#postGameOverlay .team-stats {
    padding-left: 164px;
    padding-top: 64px;
    max-width: 760px;
}
#postGameOverlay .blue, 
#postGameOverlay .gold {
    border: none;
    background: none;
    box-shadow: none;
}
#postGameOverlay .blue {
    color: var(--blue-text);
}
#postGameOverlay .gold {
    color: var(--gold-text);
}
#postGameOverlay .game-info {
    justify-content: center !important;
    color: var(--primary-text);
    font-size: 32px;
}
#postGameOverlay .game-info-entry::after {
    content: '/';
    margin-left: .5em;
    margin-right: .5em;
}
#postGameOverlay .game-info-entry:last-child::after {
    display: none;
}
#postGameOverlay .team-stats .value.blue {
    order: -1;
    text-align: left;
}
#postGameOverlay .team-stats {
    font-size: 32px;
}
#postGameOverlay .team-stats .label,
#postGameOverlay .awards > div > div:first-child {
    text-align: center;
    border: 1px solid var(--primary);
    padding: 0;
    color: var(--primary-text);
    font-size: 32px;
    margin: 0 auto;
    max-width: 212px;
}
#postGameOverlay .awards > div > div:first-child {
    font-size: 28px;
    width: 100%;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 5px;
}
#postGameOverlay .game-summary {
    color: var(--blue-text);
}
#postGameOverlay .game-summary.jss5,
#postGameOverlay .game-summary.jss72 {
    color: var(--gold-text);
}
#postGameOverlay .game-summary {
    display: block;
    flex-basis: auto;
    width: 100%;
}
#postGameOverlay .game-summary > img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}
#postGameOverlay .team-stats .row {
    max-width: 540px;
    margin: 0 0 16px;
}
#postGameOverlay .team-stats .value {
    padding: 0;
    margin: 0;
}
#postGameOverlay .top-players {
    margin-left: 87px;
    max-width: 735px;
    margin-right: 113px;
    margin-top: 66px;
    display: block !important;
    min-height: 386px;
}
#postGameOverlay .top-players > div {
    line-height: 1;
    font-size: 32px;
    margin-bottom: 10px;
}
#postGameOverlay .top-players .icon-holder {
    width: auto;
    height: auto;
    margin-left: 10px;
}
#postGameOverlay .top-players .icon-holder img {
    height: 40px;
}
#postGameOverlay .top-players > div > div {
    margin: 0;
    padding: 0;
}