/* body {
    background-color: #333;
    background-image: url(https://cdn.glitch.global/56254f99-da1a-4828-8c82-1615e924639e/ingame-bg-1.png?v=1715718599854);
    width: 1920px;
    height: 1080px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    background-repeat: no-repeat;
} */
body {
    position: relative;
    font-family: 'Jura', sans-serif;
}
.sidebar {
    position: static;
    background: none;
}
.info-box .hivemind-logo,
.info-box .kill-feed,
.player-names .title,
.sidebar .player-stats .position .status-icons-container,
.sidebar .player-stats img {
    display: none;
}
.info-box .text,
.team-name,
.score {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    color: #ffffff;
}
.prediction-chart-box,
.bottom-info-box {
    display: none;
}
.bottom-bar {
    background: none;
    left: 0px;
    right: 0px;
    top: 850px;
    width: auto;
    height: auto;
}
.bottom-bar .team-name-container {
    top: 0;
    width: 508px;
    height: 36px;
}
.bottom-bar .team-name-container:first-child {
    left: 0;
}
.bottom-bar .team-name-container + .team-name-container {
    right: 0;
}
.bottom-bar .team-name-container .team-name {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 174px;
}
.bottom-bar .team-name-container .score {
    position: absolute;
    top: 48px;
    width: 64px;
    height: 64px;
    font-size: 48px;
    line-height: 70px;
    border: none;
    background-color: transparent;
}
.bottom-bar .team-name-container:first-child .score {
    right: -330px;
}
.bottom-bar .team-name-container + .team-name-container .score {
    left: -332px;
}
.info-box {
    position: absolute;
    left: 870px;
    top: 870px;
    width: 178px;
    flex-direction: column-reverse;
    text-align: center;
}
.berries-remaining,
.game-time {
    justify-content: center;
}
.berries-remaining {
    padding-bottom: 6px;
    border-bottom: 2px solid #fff;
}
.sidebar .player-names {
    top: 608px;
    width: 223px;
    height: 197px;
}
.sidebar-left .player-names {
    left: 7px;
    border: none;
    background-color: transparent;
}
.sidebar .player-names .position {
    width: 100%;
    align-items: center;
    padding: 5px;
    margin: 0;
}
.sidebar .player-names .position .name {
    font-size: 16px !important;
    font-family: 'Jura', sans-serif;
    line-height: 29px !important;
    opacity: 1 !important;
    max-width: 130px;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: -1px;
}
.sidebar .player-names .position {
    border-bottom: none;
}
.sidebar-right .player-names {
    left: 1690px;
    border: none;
    background-color: transparent;
}
.sidebar .player-names .position:last-child {
    border-bottom: none;
}
.sidebar .player-stats {
    top: 610px;
    height: auto;
    width: auto;
}
.sidebar .player-stats img {
    display: none;
}
.sidebar-left .player-stats {
    left: 190px;
}
.sidebar-right .player-stats {
    left: 1690px;
}
.sidebar .player-stats .position {
    flex: 0 0 28px;
    margin: 0px;
    flex-direction: row;
    justify-content: center;
}
.sidebar .player-stats .position .kd {
    text-align: left;
    flex: 0 0 auto;
    line-height: 30px;
    margin-bottom: 6px;
    font-family: 'Jura', sans-serif;
}
.sidebar .player-stats .position .kd .kills,
.sidebar .player-stats .position .kd .deaths {
    font-size: 18px;
}
.bottom-bar .team-name-container .team-name {
    text-align: right;
    padding: 0 10px;
    width: 586px;
    margin-left: 45px;
}
.bottom-bar .team-name-container ~ .team-name-container .team-name {
    text-align: left;
    margin-left: 0;
    margin-right: 45px;
}
/* .berries-remaining svg,
.game-time svg {
    opacity: 0;
} */
.game-time {
    margin-top: 12px;
}
.queen-kill svg {
    height: 14px;
}
.queen-kill {
    height: 42px;
}
.sidebar-left .queen-kill {
    left: -16px;
}
.sidebar-right .queen-kill {
    right: -16px;
}
.position img {
    opacity: 0;
}