:root {
    --primary: #DF00D6;
    --primary-text: #FB88F6;
    --blue-text: #0085FF;
    --gold-text: #F7DD64;
}
/* body {
    background-color: #333;
    background-image: url(https://cdn.glitch.global/56254f99-da1a-4828-8c82-1615e924639e/postgame-bg-1.png?v=1715718608380);
    background-repeat: no-repeat;
    height: 1080px;
    width: 1920px;
    max-width: 1920px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
} */
body {
    position: relative;
}
body, 
.container {
    font-family: 'Jura', sans-serif;
    text-shadow: unset;
}
.container {
    padding: 40px 100px;
    max-width: 1920px;
    display: block;
    width: 1920px;
    height: 1080px;
}
.charts.box {
    display: none;
}
.container > .right-side.justify-start {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 100%;
}
.game-summary,
.awards {
    flex-basis: 100%;
    height: auto;
    background: none;
    border: none;
    box-shadow: unset;
}
.win-description {
    text-shadow: none;
    padding-bottom: 20px;
    font-family: 'Jura', sans-serif;
    text-transform: unset;
    letter-spacing: unset !important;
    margin-top: 12px;
}
.awards {
    order: 10;
    display: flex;
    margin-top: auto;
    align-items: stretch;
    justify-content: center;
    margin-top: 80px !important;
}
.awards > div {
    display: block;
    opacity: 1;
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: auto;
    margin: 0 5px;
    flex: 0 1 200px;
}
.awards .icon-holder,
.awards .icon-holder img {
    display: block;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
.team-stats,
.top-players {
    border: none;
    border-radius: 0px;
    color: var(--primary-text);
    background: transparent;
    box-shadow: none;
    display: block !important;
}
.team-stats {
    padding-left: 164px;
    padding-top: 64px;
    max-width: 760px;
}
.blue, 
.gold {
    border: none;
    background: none;
    box-shadow: none;
}
.blue {
    color: var(--blue-text);
}
.gold {
    color: var(--gold-text);
}
.game-info {
    justify-content: center !important;
    color: var(--primary-text);
    font-size: 32px;
}
.game-info-entry::after {
    content: '/';
    margin-left: .5em;
    margin-right: .5em;
}
.game-info-entry:last-child::after {
    display: none;
}
.team-stats .value.blue {
    order: -1;
    text-align: left;
}
.team-stats {
    font-size: 32px;
}
.team-stats .label,
.awards > div > div:first-child {
    text-align: center;
    border: 1px solid var(--primary);
    padding: 0;
    color: var(--primary-text);
    font-size: 32px;
    margin: 0 auto;
    max-width: 212px;
}
.awards > div > div:first-child {
    font-size: 28px;
    width: 100%;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    padding: 5px;
}
.game-summary {
    color: var(--blue-text);
}
.game-summary.jss5 {
    color: var(--gold-text);
}
.game-summary {
    display: block;
    flex-basis: auto;
    width: 100%;
}
.game-summary > img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}
.team-stats .row {
    max-width: 540px;
    margin: 0 0 16px;
}
.team-stats .value {
    padding: 0;
    margin: 0;
}
.top-players {
    margin-left: 87px;
    max-width: 735px;
    margin-right: 113px;
    margin-top: 66px;
    display: block !important;
    min-height: 386px;
}
.top-players > div {
    line-height: 1;
    font-size: 32px;
    margin-bottom: 10px;
}
.top-players .icon-holder {
    width: auto;
    height: auto;
    margin-left: 10px;
}
.top-players .icon-holder img {
    height: 40px;
}
.top-players > div > div {
    margin: 0;
    padding: 0;
}