#matchSummaryOverlay {
    background: #000;
    color: #fff;
    --blue: #00A9E0;
    --gold: #F6B511;
}
#matchSummaryOverlay .blue-text-gradient,
#matchSummaryOverlay .gold-text-gradient {
    background: #000;
    -webkit-background-clip: unset;
    background-clip: unset;
    color: #fff;
}
#matchSummaryOverlay .blue-text-gradient + div {
    background: var(--blue);
}
#matchSummaryOverlay .gold-text-gradient + div {
    background: var(--gold);
}
#matchSummaryOverlay .mix-blend-multiply {
    mix-blend-mode: unset !important;
}
#matchSummaryOverlay .rounded-full {
    border-radius: 0px !important;
}
#matchSummaryOverlay .grid.grid-cols-2.rounded-full > div {
    border: 6px solid var(--blue);
}
#matchSummaryOverlay .grid.grid-cols-2.rounded-full > div + div {
    border-color: var(--gold);
}
#matchSummaryOverlay .grid.grid-cols-2.rounded-full .font-bold.text-6xl {
    font-size: 60px !important;
    line-height: auto !important;
}