#matchPreviewOverlay {
    background-color: #000;
    --blue: #00A9E0;
    --blue-opacity: #00a8e026;
    --blue-border: #8BD6ED;
    --gold: #F6B511;
    --gold-opacity: #f6b51126;
    --gold-border: #FFD694;
    opacity: 0;
}
#matchPreviewOverlay.active {
    opacity: 1;
}
#matchPreviewOverlay .event-name.event-container {
    width: 1740px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    border-bottom: 6px solid #fff;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    font-family: "Redondo Ave", "Inter", sans-serif;
}
#matchPreviewOverlay .team {
    border-radius: 0px;
    color: #fff;
    text-shadow: 2px 2px 0 #000000a1;
}
#matchPreviewOverlay .left-team {
    background: var(--blue);
}
#matchPreviewOverlay .right-team {
    background: var(--gold);
}
#matchPreviewOverlay .team-name {
    position: relative;
    padding: 18px 18px 0;
    font-family: "Redondo Ave", "Inter", sans-serif;
}
#matchPreviewOverlay .team-name::after {
    content: "";
    display: block;
    border: 18px solid var(--blue-border);
    border-bottom: none;
    border-left-color: #000;
    border-right-color: #000;
    margin-left: -18px;
    margin-right: -18px;
}
#matchPreviewOverlay .right-team .team-name::after {
    border-top-color: var(--gold-border);
}
#matchPreviewOverlay .team-name span {
    display: block;
    margin-bottom: 18px;
    position: relative;
    z-index: 1;
}
#matchPreviewOverlay .team-name ~ *, 
#matchPreviewOverlay .team-name span:first-child ~ * {
    border-left: 18px solid #000;
    border-right: 18px solid #000;
    padding: 0 18px;
}