.player-cams {
    background: none;
    --blue: #00A9E0;
    --blue-opacity: #00a8e026;
    --gold: #F6B511;
    --gold-opacity: #f6b51126;
    --score-pos: -46px;
}
.player-cams .blue-box {
    box-shadow: none;
    border: 6px solid var(--blue);
}
.player-cams .gold-box {
    box-shadow: none;
    border: 6px solid var(--gold);
}
.player-cams .team-name-container {
    top: 115px;
}
.player-cams .team-name {
    border: none;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    font-family: "Redondo Ave", "Inter", sans-serif;
}
.player-cams .blue .team-name {
    background: var(--blue);
}
.player-cams .gold .team-name {
    background: var(--gold);
}
.player-cams .score {
    position: absolute;
    top: 800px;
    border-style: solid;
    background: #000;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    font-size: 100px;
    width: auto;
    flex-basis:  auto;
    line-height: 1;
}
.player-cams .blue .score {
    border-color: var(--blue);
    background: var(--blue);
    right: var(--score-pos);
}
.player-cams .gold .score {
    border-color: var(--gold);
    background: var(--gold);
    left: var(--score-pos);
}
.player-cams .player-names img.icon {
    opacity: 0 !important;
}